.currency {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(254, 95, 30);
  border-radius: 12px;
  color:#fff;
  height: 50px;
  width: 50px;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1;

}
